{% extends 'base.html.twig' %}

{% block body %}
  <div class="chat-container">
    <aside class="chat-sidebar">
      <nav class="chat-left-sidebar">
        <h2>
          <a href="{{ afsy_website }}" class="afsy-logo">AFSY</a>
        </h2>
        <ul>
          <li><a href="{{ advent_calendar_link }}" class="christmas-icon ci-tree">Advent calendar</a></li>
          <li><a href="{{ advent_calendar_link_21 }}" class="christmas-icon ci-ball">Article #21</a></li>
          <li class="active"><a href="{{ path('homepage') }}" class="christmas-icon ci-rudolph">Chat</a></li>
          <li><a href="{{ github_link }}" class="christmas-icon ci-star">GitHub</a></li>
          <li><a href="{{ heroku_link }}" class="christmas-icon ci-rocket">Heroku</a></li>
        </ul>
      </nav>
      <nav class="chat-right-sidebar">
        <h1>AFSY Chat</h1>
        <ul id="ws-channels-list" class="channels-list"></ul>
      </nav>
    </aside>
    <main class="main-content">
      <header class="main-content-header">
        <p class="warning">
          <strong>This website is just a demo.</strong> Nothing is stored.
        </p>
        <aside class="user-menu">
          <i id="ws-connection-status" class="connection-status"></i>
          <span class="username" id="ws-username"></span>
        </aside>
      </header>
      <ul id="ws-content-receiver" class="chat-messages-list"></ul>
      <form method="post" class="message-form">
        <label for="chat-message">Type your message</label>
        <input type="text" id="ws-content-to-send" name="chat-message"
            placeholder="Type your message" autocomplete="off" />
        <button id="ws-send-content">Send</button>
      </form>
    </main>
  </div>
  <footer class="chat-footer">
    Made with ♥ near Paris by <a href="{{ clem_website }}">Clément Delmas</a> |
    &copy; All rights reserved - {{ 'now'|date('Y') }}
  </footer>
{% endblock %}

